.sigPad{
	position: relative;
	-webkit-box-flex: 1;
	flex: 1;
}

.sigWrapper {
  clear: both;
  height: 180px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 3px;
}

.pad {
  position: relative;

  /**
   * For cross browser compatibility, this should be an absolute URL
   * In IE the cursor is relative to the HTML document
   * In all other browsers the cursor is relative to the CSS file
   *
   * http://www.useragentman.com/blog/2011/12/21/cross-browser-css-cursor-images-in-depth/
   */
  cursor: url("../js/pen.cur"), crosshair;
  /**
   * IE will ignore this line because of the hotspot position
   * Unfortunately we need this twice, because some browsers ignore the hotspot inside the .cur
   */
  cursor: url("pen.cur") 16 16, crosshair;

  -ms-touch-action: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.sigFooter{
	text-align: center;
}

.sigActions{
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
	margin-top: 8px;
}

.create-pad {
  width: 270px;
  height: 170px;
  border-bottom: 2px solid #eee;
}

.show-pad {
  width: 415px;
  height: 170px;
}

@media only screen and (max-width: 370px){
  .create-pad {
    width: 240px;
    height: 170px;
    border-bottom: 2px solid #eee;
  }
}

@media only screen and (max-width: 600px){
  .show-pad {
    width: 300px;
    height: 170px;
  }
}

@media only screen and (max-width: 460px){
  .show-pad {
    width: 150px;
    height: 170px;
  }
}