/*
LOGIN PAGE
 */
.login-logo{
	display: inline-block;
}

@media only screen and (max-width: 480px){
	.login-form {
		width: 80%;
		margin-left: 10%;
	}
}

@media only screen and (max-width: 768px){
	.form-horizontal .control-label {
		padding-top: 7px;
		margin-bottom: 10px;
		text-align: left;
	}
}

/*
MAIN NAVIGATION
 */
@media only screen and (min-width: 768px){
	.navbar-header {
		padding-left: 15px;
	}
}

/*
MAIN PAGES
 */
.main-index {
	margin-bottom: 50px;
}

.main-index-title {
	margin-bottom: 50px;
}

.main-index-image {
	margin-bottom: 20px;
}

@media only screen and (max-width: 400px){
	.main-title h1 {
		font-size: 23px;
	}

	.main-index {
		margin-bottom: 25px;
	}
}

@media only screen and (min-width: 400px) and (max-width: 768px){
	.main-title h1 {
		font-size: 30px;
	}
}

/*Flash messages in mobile devices display*/
@media only screen and (max-width: 768px){
	.alert-success,
	.alert-default,
	.alert-primary,
	.alert-info,
	.alert-warning,
	.alert-danger {
		text-align: center;
	}

}

/*
QDOCS PAGES
 */

/*
For index.blade.php
 */
.btn-h1-spacing {
	margin-top: 18px;
}

.search-group {
	margin-top: 18px;
}

@media only screen and (max-width: 768px){
	.index-header {
		text-align: center;
	}

	.btn-block {
		display: inline-block;
		width: auto;
	}

	.btn-h1-spacing {
		margin-bottom: 18px;
	}

	.index-button {
		text-align: center;
	}

	.search-items {
		display: inline-flex;
	}

	.search-group {
		margin-top: 0;
		text-align: center;
	}

}

@media screen and (min-width: 768px) and (max-width: 992px){
	.index-button .btn-lg{
		padding: 10px 10px;
	}
}

@media screen and (min-width: 992px) and (max-width: 1200px){
	.index-button {
		width: 20%;
	}

	.search-button {
		width: 80%;
	}
}

/*
For create.blade.php and edit.blade.php 
 */

.date .form-control {
	padding: 6px 6px;
}

@media only screen and (max-width: 458px){
	.date {
		width: 55%;
	}
}

@media only screen and (min-width: 458px) and (max-width: 544px){
	.date {
		width: 40%;
	}
}

@media only screen and (max-width: 468px){
	.gen-field {
		width: 65%;
	}
}

@media only screen and (min-width: 468px) and (max-width: 634px){
	.gen-field {
		width: 45%;
	}
}

@media only screen and (max-width: 480px){
	.edit-buttons {
		width: 100%; 
	}

	.names {
		width: 50%;
	}

	.mail {
		width: 100%;
	}
}

@media only screen and (max-width: 768px){
	.break {
		display: none;
	}

	.form-inline > .pull-left {
		float: none !important;
	}

	.signature {
		width: 100%; 
		margin-bottom: 20px;
	}
}

@media only screen and (min-width: 768px){
	.form-inline .form-control {
		width: 100%;
	}
}

.form-inline {
	display: flex;
	display: -webkit-flex;
	display: -webkit-box;
}

.names {
	padding-left: 0;
}



.sigWrapper {
	text-align: center;
}



/*
For show.blade.php
 */

@media only screen and (max-width: 768px){
	.header-info {
		padding: 12px;
		border-bottom: 1px solid #eee;
	}

	h4 {
		font-size: 14px;
	}
}

.col-md-4 svg {
	display: block;
	margin: auto;
	height: 100px;
	margin-top: 10px;
}

.comments,
.comments-obs {
	height: 151px;
	border-bottom: 1px solid #eee;
}

@media only screen and (max-width: 474px){
	.comments-obs {
		width: 100%;
	}

	.comments-title {
		height: auto;
		border-bottom: none;
	}

	.comments-desc {
		height: 151px;
		border-bottom: 1px solid #eee;
	}
}

.fire,
.show-fire {
	border-bottom: 1px solid #eee;
}

.show-fire {
	height: 151px;
	display: flex;
	align-items: center;
}

.showSig {
	margin: 0 60px;
}

/*
For pdf.blade.php
 */

body.body-pdf {
	font-size: 11px;
}

.doc-number {
	font-size: 23px;
}

.table-compact>tbody>tr>td {
	padding: 0 0 0 5px;
}

.fire {
	height: 121px;
}

.pdf-comments {
	height: 121px;
	border-bottom: 1px solid #eee;
}

.svg-text {
	font-size: 14px;
}

.sig-pdf {
	margin: 0 15px;
}

@media only screen and (max-width: 680px){
	.show-opt {
		width: 50%;
	}
}

@media only screen and (max-width: 480px){
	.show-opt {
		width: 100%;
	}
}

@media only screen and (max-width: 768px){
	.btn-block {
		width: 100%;
	}
}


/*
EDOCS PAGES
 */
/*
For show.blade.php
 */
@media only screen and (min-width: 768px){
	#exp-sig {
		width: 420px;
		margin: 0 auto;
	}
}

#exp-com {
	height: 115px;
	line-height: 130px;
	border: 1px solid #ccc;
	text-align: justify;
}

#exp-com h6 {
	font-size: 11px;
}

.footer h6 {
	margin: 5px 0;
}

/*
CDOCS PAGES
 */
/*
For create.blade.php
 */
.spare-options .option span {
	padding-left: 5px;
}

/*
For show.blade.php
 */
.spare-options .show-option {
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}

.price h3 {
	margin-top: 10px;
}

/*
For pdf.blade.php
 */

.body-pdf hr {
	border-top: 1px solid black;
}

.quote-title {
	padding: 0;
}

.quote-item {
	padding-right: 0;
}

.quote-description {
	height: 68px;
	vertical-align: top;
}

.quote-description h6 {
	margin: 2.2em 0;
}

.quote-works {
	text-align: justify;
	height: 68px;
	line-height: 68px;
}

.quote-works span,
.quote-spare-desc span {
	padding-left: 3px;
	font-size: 12px;
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}

.quote-spare {
	margin: 6px 0;
	padding-left: 3px;
}

.quote-spare .radio-options {
	padding-left: 3px;
}

.quote-spare .radio-options span {
	padding-left: 5px;
}

.quote-spare-title h6 {
	margin: 0.5em 0;
}

.quote-spare-desc {
	text-align: justify;
	height: 28px;
	line-height: 28px;
}

.quote-price,
.quote-time {
	border: 1px solid black;;
}

.quote-footer h6 {
	margin: 0;
}

/*
For users admin pages
 */
/*
INDEX PAGE
 */
.users-button {
	float: right;
}

@media only screen and (max-width: 768px){
	.users-button {
		text-align: center;
	}

}

.btn-group-xs>form>.btn {
	padding: 1px 5px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px;
}

.btn-group-xs>form {
	display: -webkit-inline-box;
	display: inline-block;
}
/*
EDIT USER PAGE
 */
.password-options .option,
.roles-options .option {
	padding: 7px 0 0;
}

.password-options .option span,
.roles-options .option span {
	padding-left: 5px;
}

#manual-password {
	display: none;
}
