/*
MAIN PAGES
 */
.main-index {
	margin-bottom: 50px;
}

.main-index-title {
	margin-bottom: 50px;
}

.main-index-image {
	margin-bottom: 20px;
}

@media only screen and (max-width: 400px){
	.main-title h1 {
		font-size: 23px;
	}

	.main-index {
		margin-bottom: 25px;
	}
}

@media only screen and (min-width: 400px) and (max-width: 768px){
	.main-title h1 {
		font-size: 30px;
	}
}


/*
QDOCS PAGES
 */
/*
For show.blade.php
 */
@media only screen and (max-width: 768px){
	.header-info {
		padding: 12px;
		border-bottom: 1px solid #eee;
	}
}

.col-md-4 svg {
	display: block;
	margin: auto;
}

.comments {
	height: 151px;
	border-bottom: 1px solid #eee;
}

.fire {
	border-bottom: 1px solid #eee;
}

.sigPad {
	margin: 0 60px;
}

/*
For index.blade.php
 */
.btn-h1-spacing {
	margin-top: 18px;
}

@media only screen and (max-width: 768px){
	.index-header {
		text-align: center;
	}

	.btn-block {
		display: inline-block;
		width: auto;
	}

	.btn-h1-spacing {
		margin-top: 0;
		margin-bottom: 20px;
	}

	.index-button {
		text-align: center;
	}
}